* {
    box-sizing: border-box;
  }
  
body {
font-family: "Source Sans Pro", sans-serif;
font-size: 16px;
color: black;
text-align: center;
line-height: 1.5;
background-size: 100%;
background-color: white;
background-attachment: fixed;
}

h1 {
    font-size: 2.5em;
}

h2{
font-family: 'Source Sans Pro', sans-serif;
font-size: 2em;
}

h3{
    font-size: 1.25em;
    font-family: 'Source Sans Pro', sans-serif;
}
p {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

h5{
    padding-top: 15px;
    font-size: 12px;
}
.navBar{
    position: fixed;
    padding-top: 8px;
    margin-bottom: 12%;
    text-align: right;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    height: 40px;
    width: 100%;
    background-color: transparent;
    display: flex;
    flex-flow: row-reverse;
}

.navBarLink a{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    padding:12px;
    color: black;
}

.hide{
    display: none;
}

.bar1, .bar2, .bar3{
    background-color: black;
    width: 25px;
    height: 2px;
    margin: 3px;

}

.burgerIcon{
    margin-left: auto;
    margin-top: 5px;
    width: fit-content;
    margin-right: 15px;
    display: block;
}
.burgerMenu{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: auto;
    margin-left: auto;
}

.name{
    width: 50%;
    text-align: left;
    display: inline-flex;
    padding-left: 12px;
}

.flex-bur{
    width: 50%;
}

.name2{
    text-align: left;
    display: inline-flex;
    width: 40%;
    padding-top: 12px;
}
.fl-blank{
    display: inline-flex;
}

 .burgerNav{
     background-color:white;
     color: black;
     width: 150px;
     text-align: left;
     padding-left: 5%;
     padding-right: 10%;
     margin-left: auto;
     padding-top: 5%;
     padding-bottom: 10px;
     border-left: 1px solid rgba(40, 124, 122, .5);
     border-bottom: 1px solid rgba(40, 124, 122, 1);
     border-top: 1px solid rgba(40, 124, 122, .2);
     border-bottom-left-radius: 10px; 
     -webkit-border-bottom-left-radius: 10px; 
     -moz-border-bottom-left-radius: 10px;
     border-top-left-radius: 10px; 
     -webkit-border-top-left-radius: 10px; 
     -moz-border-top-left-radius: 10px;
}   

.bg-lk:hover{
    transform:scale(1.5);
    transition-timing-function: ease;
    transition-duration: .5s;
}

.burgerNav a{
    color: black;
    text-align: left;
    font-size: 16px;
}

.intro{
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10%;
    padding-top: 5%;
    padding-right: 5%;
    padding-left: 5%;
    font-size: 14px;
    text-align: center;
    height:50%;
    color:black;
    background-color: white;
}
 
.tool_1{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10%;
}

.fl-he{
    display: block;
}
.wd-mx{
    max-width: 50px;
}

.wd-80{
    width: 80%;
}
.contact-num{
    padding: 16px;
    background: linear-gradient(rgba(40, 124, 122, .1), rgba(40, 124, 122, 0), rgba(40, 124, 122, 0), rgba(40, 124, 122, 0), rgba(40, 124, 122, 0), rgba(40, 124, 122, 0), rgba(40, 124, 122, .1));
    width: 60%;
}

.ct-ct{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.s-ct1{
    padding-top: 5%;
    height: 200px;
    justify-content: center;
}

.contact-img-wrap{
    width: 100%;
    display: flex;
}

.hb-lk{
    display: block;
    padding-bottom: 5%;
}

.fl-it{
    width: 50%;
}

.contact-img{
    width: 100%;
    display: flex;
    z-index: 6;
    margin-left: -11%;
    align-self: center;
}

.tm{
    width: 15%;
}
.mn-img{
    width: 45%;
}

.font-wt-2{
    font-weight: 600;
}

.img-bx{
    width: 38%;
    border-radius: 3px;
    -webkit-border-radius: 3px; 
    -moz-border-radius: 3px;
}

.ta-c{
text-align: center;
}

.ta-l{
    text-align: left;
}

.mg-lrc{
    margin-left: auto;
    margin-right: auto;
}

.mg-la{
    margin-left: auto;
}

.pd-t-s{
    padding-top: 4%;
}

.pd-b-md{
    padding-bottom: 4%
}

.pd-tb-sm{
    padding-top: 2%;
    padding-bottom: 2%;
}

.pd-tb-md{
    padding-top: 4%;
    padding-bottom: 4%;
}

.flex-container-c{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}

.flex-container-p{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}

.hs-img{
    width: 100%;
}

.flex-container-r{
    display: flex;
    flex-wrap: nowrap;
    flex: 50% 50%;
    flex-direction: row;
    justify-content: center;
}

.resume{
    margin-top: 25%;
    width: 100%;
}

.resume:hover{
    animation: shimmy 0.5s;
}
      
@keyframes shimmy {
0% { transform: translate(1px, 1px) rotate(0deg); }
20% { transform: translate(0px, 0px) rotate(0deg); }
40% { transform: translate(-1px, -1px) rotate(0deg); }
50% { transform: translate(0px, 0px) rotate(0deg); }
70% { transform: translate(1px, 1px) rotate(0deg); }
100% { transform: translate(0px, 0px) rotate(0deg); }
}

.flex-item{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
}

.flex-item-tl{
    padding-top: 20%;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    align-self:center;
}

.flex-item-tl-alt{
    padding-top: 20%;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    align-self:center;
}

.flex-item-tl-alt2{
    width: 80%;
    padding: 1%;
}

.flex-item-tl-alt3{
    width: 80%;
    padding: 1%;
}

.flex-item-hd{
    padding-top: 8%;
    margin-left: auto;
    margin-right: auto;
}

h3.twi-hd{
    font-family: 'Sacramento', cursive;
    font-size: 2.25em;
    font-weight: 600;
    color: #630650;
    padding-top: 3%;
}

.gal-hd{
    font-family: 'Supermercado One', cursive;
    color: #550568;
    font-size: 2em;
    font-weight: 700;
}

.sk-hd{
    font-family: 'Permanent Marker', cursive;
    color: #d1007c;
}

.mn-img-wrap{
    align-self:center;
    padding-top: 5%;
    padding-bottom: 5%;
}

.pd{
    padding: 2%;
}
.mg-sm{
    margin: 2%;
}

.title-ft{
background: radial-gradient(rgba(181, 181, 181, 0), rgba(181, 181, 181, .0), rgba(181, 181, 181, .2));
font-family: 'Libre Franklin', sans-serif;
box-shadow: 0px 3px inset rgba(100, 160, 159, 1);
-moz-box-shadow: 0px 3px inset rgba(100, 160, 159, 1);
-webkit-box-shadow: 0px 3px inset rgba(100, 160, 159, 1);
}

.mg-md{
    margin-top: 4%;
    margin-left: 4%;
    margin-right: 4%;
}

.bg-c-1{
    background: linear-gradient(rgba(40, 124, 122, 0), rgba(40, 124, 122, .2), rgba(40, 124, 122, .0));
}

.aboutText{
    width:100% !important;
}

.bd{
    border: 1px solid gray;
}
.container{
    width: 95%;
}

.aboutTextWrap{
    width: 60%;
    padding: 5%;
}

.border{
    width: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
    height: 1px;
    background-color: #b5b5b5;
}

.border2{
    width: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
    height: 1px;
    background-color: white;
}

.fl-box1{
display: block;
flex-direction: column;
}

.fl-box2{
    padding-left: 4%;
    display: inline-flex;
    flex-direction: column;
}

.row{
    flex-wrap: wrap;
    flex-direction: row;
    display: inline-flex;
}

.w-80{
width: 80%;
}

.wd-60{
    width: 60%;
}

.tm-bx{
    align-self: center;
    flex-wrap: wrap;
}

.wd-40{
    width: 70%;
}

.shw{
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2), 0 3px 5px 0 rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2), 0 3px 5px 0 rgba(0, 0, 0, .2);
    -webkit-box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2), 0 3px 5px 0 rgba(0, 0, 0, .2);
}

.ct-lk-md:hover{
    transform:scale(1.3);
    transition-timing-function: ease;
    transition-duration: .5s;
}

.ct-lk:hover{
    transform: scale(1.2);
    transition-timing-function: ease;
    transition-duration: .5s;
}

h4{
    font-size: .8em;
}

.pj-lk:hover{
    color: goldenrod;
    transition-duration: .2s;
}

.bgc-w{
    background-color: white;
}
p{
    font-size: 1em;
}

.tool_2, .tool_3{
    display: none;
}

.expand{
    font-size: 1.125em;
    letter-spacing: 0.1em;
    font-weight: bold;
}

.expand2{
    font-size: 1.3em;
    letter-spacing: 0.1em;
    font-weight: 700;
}

.expand4{
    font-size: 1.7em;
    letter-spacing: 0.1em;
    font-weight: 500;
}

.contact-bx{
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    display: flex;
    flex-direction: row;
}


@media screen and (min-width: 450px){
    p{
        font-size: 1em;
    }

    .container{
        width: 90%;
    }

    .burgerNav a{
        color: black;
        text-align: left;
        font-size: 18px;
    }

    h4{
        font-size: 1.3em;
    }
    
}

@media screen and (min-width: 600px){
    .name{
        width: 90%;
    }

    .tool_1{
        display: none;
    }

    .tool_2{
        display: block;
        width: 60%;
        padding-bottom: 10%;
        padding-top: 10%;
    }

    .flex-item-tl2{
        width: 12%;
        padding: 1%;
    }

    .flex-item-tl3{
        width: 12%;
        padding: 1%;
    }

    .flex-container-p{
        flex-direction: row;
    }

    .fl-box1{
        width: 60%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding-top: 5%;
        padding-bottom: 5%;
    }

    .fl-2{
        width: 40% !important;
        flex-wrap: wrap;
        flex-direction: row;
        align-content: center;
        justify-content: center;
        margin-right: 4%;
        padding-top: 5%Z;
        height: fit-content;
    }

    .tm{
        width: 35%;
        align-self: center;
    }

    .fl-he{
        font-size: 3em;
    }

    h3.twi-hd{
        font-size: 3em;
    }
}



@media screen and (min-width: 768px){
    .navBarLink a{
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 20px;
    }
    .burgerMenu{
        display: none;
    }
    
    .burgerNav{
        display: none;
    }

    .navBarLink{
        width: 100%;
        display: flex;
    }

    .lg-nav-wrap{
        width: 70%;
        text-align: right;
    }

    .lg-nav{
        justify-content: center;
        display: inline-flex;
    }

    .sct{
        margin-left: auto;
        margin-right: auto;
        padding-left: 4%;
        padding-right: 4%;
        width: 80%;
        background-color: white;
    }

    .s-ct1{
        height: 300px;
        padding-top: 10%;
    }
    
   .bdy{
       background-color: rgb(9, 44, 44);
   } 

    .header{
        width: 100%;
        height: 50px;
        font-size: 32px;
        background-color:white;
        color: black;
        text-align: center;
        margin-top: -5px;
    }

    .tm{
        width: 46%;
    }

    .fl-2{
        width: 30% !important;
        flex-wrap: wrap;
        flex-direction: row;
        align-content: center;
        justify-content: center;
        margin-right: 13%;
        margin-left: 4%;
        padding-top: 3%;
        padding-bottom: 3%;
        height: fit-content;
    }

    .fl-he{
        font-size: 4em;
    }

    h3.twi-hd{
        font-size: 4em;
    }
}

@media screen and (min-width: 900px){
    .tool_2{
        display: none;
    }

    .tool_3{
        display: block;
        width: 80%;
        padding-bottom: 10%;
        padding-top: 10%;
    }

    .project-wrap.flex-container-p{
        border-radius: 7px;
        -webkit-border-radius: 7px; 
        -moz-border-radius: 7px;
        background: linear-gradient(rgba(181, 181, 181, 0.4),rgba(181, 181, 181, 0.2), rgba(181, 181, 181, 0.2), rgba(181, 181, 181, 0.4));
    }
}

@media screen and (min-width: 1024px){
    .s-ct1{
    height: 350px;
    }
}